*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

html{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin-left: 50px;
    margin-right: 50px;
}

.boton{
    background-color: red;
    color: #fff;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.boton:hover{
    background-color: blue;
    color: green;
}


.boton:active{
    background-color: yellow;
    color: black;
}

#p1:target{
    background-color: rgba(0, 0, 0,0.4);
}

#p2:target{
    background-color: rgba(194, 22, 22, 0.4);
}

#p3:target{
    background-color: rgba(228, 100, 15, 0.4);
}

.texto1, .texto2{
    width: max-content;
    background-color: rgb(113, 216, 113);
    padding: 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

/* .texto1 p:first-child */
/* .texto1 p:nth-last-child(6) */
/* .texto1 p:nth-last-child(5) */
/* .texto1 p:nth-child(odd) impar */
/* .texto1 p:nth-child(even) par*/
/* .texto1 p:nth-child(n+2) */
.texto1 p:nth-last-child(n+2),
.texto2 p:nth-last-child(n+2) 
{
    background-color: violet;
    color: red;
}

.tabla{
    border-collapse: collapse;
    margin: 20px auto 50px;
}

.tabla th, td{
    border: 1px solid red;
}

.tabla thead{
    background-color: rgb(191, 255, 0);
}

.tabla tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(0, 0, 255);
    color: #fff;
    font-weight: bold;
}

/* NOMBRE */

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin: 40px;
}

.nombre li{
    font-size: xx-large;
    font-weight: bold;
}

.nombre li:nth-child(odd){
    background-color: rgb(255, 0, 0);
    color: #f5f5f5;
    padding: 10px;
}

.nombre li:nth-child(even){
    background-color: black;
    color: #f5f5f5;
    padding: 10px;
}

.lista{
    width: max-content;
    margin: auto;
    padding: 20px;
    list-style: none;
}

.lista li::before{
    content: "💚🍀";
    margin-right: 20px;
    margin-left: 30px;
}

.texto2 p::after{
    content: "💚🍀";
}

/* CUADRO */

.cuadro{
    background-color: rgb(90, 90, 199);
    width: max-content;
    min-width: 200px;
    box-shadow: 6px 6px 10px rgb(89, 168, 194);
    padding: 10px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}   

.cuadro :before{
    width: 80px;
    height: 30px;
    content: "🔴🟠🟡";
    position: absolute;
    top: calc(50% - 15px);
    right: calc(100% - 15px);
}

.cuadro :after{
    width: 80px;
    height: 30px;
    content: "🔴🟠🟡";
    position: absolute;
    top: calc(50% - 15px);
    left: calc(100% - 0px);
}
/* se utiliza con checkbox, radio o select */

.resp{
    margin: 30px 50px;
}

label{
    background-color: cadetblue;
    padding: 10px;
    color: azure;
}

.resp:checked + label{
    background-color: black;
    color: white;
}
